@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main: #0C2733;
    --lightmain: #3D525C;
    --white: #fff;
    --grey: #C4C4C4;
    --green: #0CC9A2;
    --d_green: #3D525C;
    --l_green: #0BB793;
    --grey: #7F7F7F;
}

body{
    background-color: #fff;
    font-size: 16px;
    color: var(--grey);
}

#waitlist{
    background:url(./images/Blend\ Group\ 2.png) no-repeat top left, 
    url(./images/Blend\ Group\ 3.png) no-repeat bottom right,
    url(./images/Blend\ Group\ 4.png) no-repeat bottom center,
    url(./images/Vector\ -\ Copy.png) no-repeat bottom left,
    url(./images/Vector.png) no-repeat top right;
    background-size: 260px, 260px, 260px, 110px, 110px;
    font-size: 16px;
    color: var(--white);
    height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#waitlist .nav-frame{
    width: 70%;
    height: 78px;
    top: 27px;
    border-radius: 16px;
    padding: 16px;
    gap: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    box-shadow: 5px 5px 10px #0BB79314;
    position: absolute;
}

#waitlist .nav-frame .navigate{
    display: none;
}

.menu-section{
    display: none;
}

#waitlist .nav-frame .nav-bar{
    display: flex;
    font-family: "Nunito", sans-serif;
}

#waitlist .nav-frame .nav-bar ul{
    display: flex;
    gap: 20px;
}

#waitlist .nav-frame .nav-bar ul li{
    list-style: none;
}

#waitlist .nav-frame .nav-bar ul li a{
    text-decoration: none;
    color: var(--grey);
    text-transform: capitalize;
    font-weight: 600;
}

#waitlist .nav-frame .nav-bar ul li a:hover{
    color: var(--green);
}

#waitlist .nav-frame button{
    padding: 6px 25px;
    background-image:linear-gradient(to right, var(--d_green), var(--l_green));
    outline: none;
    border: none;
    border-radius: 30px;
    color: var(--white);
}

#waitlist .nav-frame button a{
    text-decoration: none;
    color: var(--white);
    font-family: "nunito", sans-serif;
}


#waitlist .waitlist-frame{
    /* height: 400px; */
    height: max-content;
    padding: 5px 16px 0 16px;
    width: 85%;
    /* background-color: red; */
    position: absolute;
    top: 180px;
    gap: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#waitlist .waitlist-frame h1{
    font-size: 42px;
    color: var(--main);
    font-family: "mulish", sans-serif;
    font-weight: 600;
    max-width: 900px;
}

#waitlist .waitlist-frame h1 i{
    font-weight: 500;
    color: var(--lightmain);
}

#waitlist .waitlist-frame p{
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    color: var(--grey);
    max-width: 600px;
}

#waitlist .waitlist-frame .join{
    display: flex;
    gap: 10px;
}

#waitlist .waitlist-frame .join input{
    padding: 5px 5px 5px 15px;
    width: 230px;
    border: 1px solid var(--grey);
    outline: none;
    font-family: "nunito", sans-serif;
    border-radius: 50px;
    font-size: 12px;
}

#waitlist .waitlist-frame .join button{
    padding: 10px 33px;
    background-image:linear-gradient(to right, var(--d_green), var(--l_green));
    color: var(--white);
    border-radius: 50px;
    border: none;
    outline: none;
}

#waitlist .waitlist-frame .join button a{
    font-size: 18px;
    font-family: 32px;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "nunito", sans-serif;
    color: var(--white);
}

#waitlist .waitlist-frame .connect{
    display: flex;
    gap: 10px;
}

#waitlist .waitlist-frame .connect .linkedin{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: lightgray;
    font-display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
}

#waitlist .waitlist-frame .connect .linkedin:hover{
    cursor: pointer;
}

#waitlist .waitlist-frame .connect .linkedin .fa-linkedin{
    font-size: 22px;
    color: transparent;
    background-clip: tex;
    color: var(--l_green);    
    align-self: center;
    text-align: center;
    justify-self: center;
    margin-top: 8px;
}

#waitlist .waitlist-frame .connect .x{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: lightgray;
    font-display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
}

#waitlist .waitlist-frame .connect .x:hover{
    cursor: pointer;
}

#waitlist .waitlist-frame .connect .x .fa-x-twitter{
    font-size: 22px;
    color: var(--l_green);
    align-self: center;
    text-align: center;
    justify-self: center;
    margin-top: 8px;
}

#waitlist .waitlist-frame .connect .instagram{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: lightgray;
    font-display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
}

#waitlist .waitlist-frame .connect .instagram:hover{
    cursor: pointer;
}

#waitlist .waitlist-frame .connect .instagram .fa-instagram{
    font-size: 22px;
    color: var(--l_green);
    align-self: center;
    text-align: center;
    justify-self: center;
    margin-top: 8px;
}

#waitlist .eclipse2{
    position: absolute;
    left: 62px;
    top: 123px;
    width: 260px;
    z-index: 50px;
} 

#waitlist .eclipse3{
    position: absolute;
    right: 76px;
    bottom: 54px;
    width: 260px;
    z-index: 50px;
} 
